/* Navbar Component */
.navbar {
  width: 100%;
  padding: 1.3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #1B2943;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 1000;
  font-weight: 100;
}

.navbar__brand {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.navbar__logo-container {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
}

.navbar__logo {
  width: 500%;
  height: 130%;
  object-fit: contain;
}

.navbar__nav {
  display: flex;
  gap: 2rem;
}

.navbar__link {
  color: #fff;
  font-weight: 100;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  text-decoration: none;
  position: relative;
}


.navbar__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; /* Espessura da linha */
  bottom: -8px;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.navbar__link:hover::after {
  transform: scaleX(1);
}

.navbar__cta {
  background: #EFC11D;
  color: #fff;
  padding: 0.6rem 1.7rem;
  border-radius: 800px;
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
  font-weight: 200;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 1rem;
}

.navbar__cta:hover {
 background-color: #fff;
 color: #26437b;
 transition: all 0.3s;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}
